<h2>Add a attachment:</h2>
<%= form_for([@post, @post.attachments.build], :html => { :multipart => true } )  do |f| %>

    <p>
      <%= f.text_area :text %>
      <%= f.file_field :image, multiple: true %>
    </p>
    <p>
      <%= f.submit %>
    </p>
<% end %>